.breadcrumbs{
  display: flex;
  justify-content: center;
}

.vendor{
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.addresses{
  display: flex;
  justify-content: space-between;
}

.map__img{
  width: 100%;  
}