.button{
  border-radius: 8px;
  border:1px solid #00D36D;
  color:#00D36D;
  background: none;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 20px;
  cursor:pointer
}
.button:hover{
  color:white;
  background: #00D36D;
}