.modal-city{
  display: none;
  position: absolute;
  top: 50px;
  right: 114px;
  width: 260px;
  height: 70px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-city-active{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-city__buttons{
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.modal-city__text-bold{
  font-weight: 500;
}