.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 240px;
}

.footer__content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.footer__left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.footer__right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 62%;
  padding-left: 80px;
}

.code__number{
  font-size: 30px;
  font-weight: 500;
}

.code__text{
  color:rgba(0, 0, 0, 0.404);
  font-size: 13px;
}

.footer__copyright{
  font-size: 13px;
  color:rgba(0, 0, 0, 0.404)
}

.footer__navigation{
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}

.footer__socials{
  display: flex;
  justify-content: space-between;
}

.socials__stores{
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.socials__networks{
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.footer__policy{
  font-size: 13px;
  color:rgba(0, 0, 0, 0.404);
}