.buttons-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.cards{
  display: flex;
  flex-direction: column;
}

.cards__content{
  display: flex;

  justify-content: space-between;
}

.cards__button-more{
  display: flex;
  justify-content: center;
}

.offers{
  display: flex;
  flex-direction: column;
}

.offers__content{
  display: flex;
  justify-content: space-between;
}

.offers__button-more {
  align-self: center;
}

.plates{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 850px;
}