.plate__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.plate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  background: white;
  border-radius: 100px;
  padding: 16px ;
}

.plate__top{
  display: flex;
  justify-content: space-between;
}

.plate__bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 15px;
}

.plate__text{
  padding: 5px 10px;
  background: white;
  border-radius: 0 0 20px 20px;
  font-size: 14px;
  font-weight: 500;
}

.plate__rounding{
  width: 100px;
  margin-top: 4px;
  background: #E5E5E5;
  color:#E5E5E5 ;
}

.rounding-left{
  border-radius: 0 30px 0 0;
  margin-right: -5px;
}

.rounding-right{
  border-radius: 30px 0 0 0;
  margin-left: -5px;
  padding-left: 4px;
}

.plate-long{
  width:610px
}

.plate-short{
  width:360px
}