.modal-search__background{
  display: none;
  width: 100vw;
  height: 700vh;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.479);
}

.modal-search{
  display: none;
  position: absolute;
  right: 200px;
  top: 50px;
  z-index: 2;
  width: 260px;
  height: 40px;
  padding: 6px 20px;
  background: rgb(255, 255, 255);
  color:rgba(0, 0, 0, 0.1);
}

.modal-search__border{
  display: flex;
  padding: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.modal-search__input{
  width: 250px;
  font-size:16px
}

.modal-search__img{
  margin-left: 20px;
  margin-top: 4px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.modal-search__background-active{
  display: block;
}

.modal-search-active{
  display: block;
}